<html>
<head>
    <title>Build report</title>
</head>
<body>
<h1>Hockey App Download URL</h1>
<a href="<%=@hockey_url%>"><%=@hockey_url%></a>
<br>
<br>
<h1>Changelog</h1>
<%=@jira_changelog%>
</body>
</html>